streamlit
langchain==0.1.16
langchain-core==0.1.52
langchain-community==0.0.38
langchain-google-genai==0.0.9
google-generativeai==0.8.5
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-api-core
pydantic
python-docx
faiss-cpu
tiktoken
